body {
  background-color: yellow;

}
img {
  max-width:25%;
  height:auto;
  border:5px solid #021a40;
}
div {
  background-color: whitesmoke;
}
#placeholder-0:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}
#placeholder-1:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}
#placeholder-2:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}
